.auth-page{
    background-color: #4B9FE1;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 14px;
}

.bg-pattern{
    background-size: cover;
    background-image: url('../../../assets/bg-pattern-2.png');
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: var(--ct-footer-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1.5rem;
    background-color: var(--ct-secondary-bg);
    color: var(--ct-secondary-color);
    border-top: var(--ct-theme-border-width) solid var(--ct-border-color);
    -webkit-transition: var(--ct-menu-transition);
    transition: var(--ct-menu-transition);
}

.footer-alt {
    border: none;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn{
    background-color: #28559A;
    color: white;
  }