.top-logo{
    width: 45px;
    height: 45px;
}
.avatar-lg{
    height: 4.5rem;
    width: 4.5rem;
    background-color: rgb(195, 228, 255);
}

.cb1{
    padding: 0;
}

.nav-item{
    width: 25%;
    text-align: center; 
    font-weight: 500;
    font-size: larger;
}

.tab-content{
    background: #fff;
    padding: 20px;
}

.request-card {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    padding: 0;
    max-height: 130px;
    overflow: hidden;
}

.request-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.request-card .card-body {
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.request-card .btn {
    margin: 5px;
    height: 40px;
}

.request-card .btn-sm {
    padding: 5px 10px;
    font-size: 0.875rem;
}


.profile-pic{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}    

.profile-pic img {
    width: 90px;
    height: 90px;
    border-radius: 4px;
}

.artist-info {
    flex: 1;
    min-width: 200px;
    padding: 0;
}