<h2>Artist Requests</h2>

<div class="d-flex">
    <div class="card card1" style="margin-bottom: 10px;" style="background-color: #f08c8c;">
        <div class="card-title fw-medium">
            <p>Pending Requests</p>
            <hr>
        </div>
        <div class="card-body" style="align-items: flex-start; text-align: left;">
            <h1 class="card-title">{{ pendingRequests }}</h1>
        </div>
    </div>
    <div class="card card1" style="margin-bottom: 10px;" style="background-color: #b4f08c;">
        <div class="card-title fw-medium">
            <p>Rejected Requests</p>
            <hr>
        </div>
        <div class="card-body" style="align-items: flex-start; text-align: left;">
            <h1 class="card-title">{{ rejectedRequests }}</h1>
        </div>
    </div>
    <div class="card card1" style="margin-bottom: 10px;" style="background-color: #8cd4f0;">
        <div class="card-title fw-medium">
            <p>Approved Artists</p>
            <hr>
        </div>
        <div class="card-body" style="align-items: flex-start; text-align: left;">
            <h1 class="card-title">{{ approvedArtists }}</h1>
        </div>
    </div>
</div>

<ul class="nav nav-tabs mt-4" role="tablist" style="width: 100%;">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Pending
            Requests</a>

    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" tabindex="-1" role="tab">Rejected
            Requests</a>
    </li>

    <div id="myTabContent" class="tab-content" style="width: 100%;">
        <div class="tab-pane fade show active" id="home" role="tabpanel">
            <div class="card request-card" *ngFor="let artist of requestedArtists">
                <div class="d-flex" style="height: 100%;">
                    <div class="profile-pic">
                        <img [src]="artist.profile_photo_url" alt="Profile Picture" class="rounded-pill"
                            style="width: 78px; height: 78px;">
                    </div>
                    <div class="card-body" style="margin: auto;">
                        <div class="d-flex" style="justify-content: space-between;">
                            <div class="d-flex">
                                <span style="font-size: large;">{{ artist.fName }} {{ artist.LName }} |</span>&nbsp;
                                <span class="fs-6 fw-medium mr-2 text-secondary">{{ artist.profession }} |</span>&nbsp;
                                <span class="fs-6 fw-medium text-info">{{ artist.location }}</span>
                            </div>
                            <div>
                                <span class="fs-6 fw-medium">{{artist.registered_at | date: 'yyyy-MM-dd' }}</span>
                            </div>
                        </div>
                        <div style="margin: auto; text-align: left;">
                            <p class="fs-6" (click)="openUserDetailsModal(artist)">More Details</p>
                        </div>

                    </div>
                    <div class="buttons d-flex" style="margin: auto;">
                        <button class="btn btn-success" (click)="approveArtist(artist.user_id)">Approve</button>
                        <button class="btn btn-danger" (click)="rejectArtist(artist.user_id)">Reject</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel">
            <div class="card request-card" *ngFor="let artist of rejectedArtists">
                <div class="d-flex" style="height: 100%;">
                    <div class="profile-pic">
                        <img [src]="artist.profile_photo_url" alt="Profile Picture" class="rounded-pill"
                            style="width: 78px; height: 78px;">
                    </div>
                    <div class="card-body" style="margin: auto;">
                        <div class="d-flex" style="justify-content: space-between;">
                            <div class="d-flex">
                                <span style="font-size: large;">{{ artist.fName }} {{ artist.LName }} |</span>&nbsp;
                                <span class="fs-6 fw-medium mr-2 text-secondary">{{ artist.profession }} |</span>&nbsp;
                                <span class="fs-6 fw-medium text-info">{{ artist.location }}</span>
                            </div>
                            <div>
                                <span class="fs-6 fw-medium">{{ artist.registered_at | date: 'yyyy-MM-dd' }}</span>
                            </div>
                        </div>
                        <div style="margin: auto; text-align: left;">
                            <p class="fs-6" (click)="openUserDetailsModal(artist)">More Details</p>
                        </div>

                    </div>
                    <div class="buttons d-flex" style="margin: auto;">
                        <button class="btn btn-success" (click)="approveArtist(artist.user_id)">Approve</button>
                        <button class="btn btn-danger" (click)="deleteArtist(artist.user_id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ul>


<app-modal id="modal-userDetails">
    <div class="new-modal">
      <div class="new-modal-body">
        <div class="modal-content">
          <div class="modal-header mb-4">
            <h5 class="modal-title text-info">User Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalService.close()"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="border border-primary p-3">
                  <h5 class="text-body-secondary">Profile Photo</h5>
                  <img [src]="selectedArtist.profile_photo_url" alt="Profile Photo" class="img-fluid mb-3 rounded" style="width: 200px; height: 200px;">
                </div>
              </div>
              <div class="col-md-6">
                <div class="border border-primary p-3">
                  <h5 class="text-body-secondary">Basic Information</h5>
                  <ul class="list-group">
                    <li class="list-group-item"><strong>First Name:</strong> {{ selectedArtist.fName }}</li>
                    <li class="list-group-item"><strong>Last Name:</strong> {{ selectedArtist.LName }}</li>
                    <li class="list-group-item"><strong>Profession:</strong> {{ selectedArtist.profession }}</li>
                    <li class="list-group-item"><strong>Location:</strong> {{ selectedArtist.location }}</li>
                    <li class="list-group-item"><strong>Applied Date:</strong> {{ selectedArtist.registered_at | date: 'short' }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="border border-primary p-3 mt-4">
              <h5 class="text-body-secondary">On the Web</h5>
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let socialLink of selectedArtist.socialLinks">
                      <img [src]="socialLink.logoUrl" alt="{{ socialLink.name }}" class="img-fluid me-2" style="width: 20px;">
                      <a [href]="socialLink.link" target="_blank">{{ socialLink.name }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="border border-primary p-3 mt-4">
              <h5 class="text-body-secondary">Description</h5>
              <p>{{ selectedArtist.description }}</p>
            </div>
            <div class="border border-primary p-3 mt-4">
              <h5 class="text-body-secondary">Work Experience</h5>
              <p>{{ selectedArtist.workExperience }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-modal>
  
  