<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()"><i class="bi bi-list"></i></button>
    <div class="logo-text" *ngIf="collapsed">Artista</div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
      <i class="bi bi-x-lg close-icon"></i>
    </button>
  </div>
  <div class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
        <span class="badge bg-danger rounded-pill" style="font-size: 10px;" *ngIf="data.label=='Artist Requests'"></span>
      </a>
    </li>
    <div class="admin-details">
      <li class="sidenav-nav-item">
        <hr style="border: 2px solid white;">
        <a class="sidenav-nav-link">
          <img src="../../../assets/11.jpg" class="rounded" style="height: 50px; width: 50px;">
          <span class="sidenav-link-text" *ngIf="collapsed">John Doe</span>
        </a>
      </li>
      <li class="sidenav-nav-item">
          <a class="sidenav-nav-link">
            <i class="sidenav-link-icon bi bi-bell"></i>
            <span class="sidenav-link-text" *ngIf="collapsed">Notifications</span>
            <span class="badge bg-danger rounded-pill">3</span>
          </a>
      </li>
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link">
          <i class="sidenav-link-icon bi bi-box-arrow-right text-danger"></i>
          <span class="sidenav-link-text text-danger" *ngIf="collapsed">Logout</span>
        </a>
        <hr style="border: 2px solid white;">
      </li>
    </div>
  </div>
</div>

<div class="body" [ngClass]="getBodyClass()">
  <router-outlet></router-outlet>
</div>

